---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import Tags from "../components/Tags.astro";
import getTags from "../scripts/getTags";

const posts = await getCollection("posts");
const allTags = getTags(posts);

let {
	content: { title, description, added, updated, tags, heroImage },
} = Astro.props;

const publishedTime = added ? new Date(added).toISOString() : undefined;
const updatedTime = updated ? new Date(updated).toISOString() : undefined;

added = new Date(added).toLocaleDateString(
	"en-us",
	{
		year: "numeric",
		month: "short",
		day: "numeric",
	}
);

if (updated) {
	updated = new Date(updated).toLocaleDateString(
		"en-us",
		{
			year: "numeric",
			month: "short",
			day: "numeric",
		}
	);
}
---

<html lang="en-us">
	<BaseHead
		title={title}
		description={description}
		type="article"
		publishedTime={publishedTime}
		updatedTime={updatedTime}
		image={heroImage}
	/>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img class="hero-image" src={heroImage} alt={title} />}
				<h1 class="article-title">{title}</h1>
				{updated ?
					<span><time>{added}</time>, last updated on <time>{updated}</time></span>
					:
					<span>{added && <time>{added}</time>}</span>
				}
				<Tags tags={tags} />
				<hr />
				<div class="blog-post">
					<slot />
				</div>
			</article>
		</main>
		<Tags tags={allTags} all />
		<Footer />
		<ColorScript />
	</body>
</html>
